<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Goole Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- My CSS Styles -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon3.ico">

    <title>PVC Ecology Projects - Decoración y acabados.</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="/images/logoFinal.png" class="logo-brand" alt="logo"><a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto mb-auto mb-lg-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="home">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="catalogue">Catálogo</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Portafolio
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">Cielo Raso</a></li>
                                        <li><a class="dropdown-item" href="#">PVC Mármol</a></li>
                                        <li><a class="dropdown-item" href="#">PVC Board</a></li>
                                        <li><a class="dropdown-item" href="#">PVC Guardaescobas</a></li>
                                        <li><a class="dropdown-item" href="#">PVC pisos</a></li>
                                        <li><a class="dropdown-item" href="#">Puertas Plegables</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Perfil Panel Lógico</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="aboutUs">Nosotros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="contact">Contacto</a>
                                </li>
                            </ul>
                        </div>
            </div>
        </nav>
    </header>

    <section id="slider1">
        <div class="container">
            <div class="content-center top-margin-lg">
                <h1>PVC Ecology Projects</h1>
                <h1>El poder de la innovación</h1>
                <p><b>Soluciones en cielo raso PVC, pisos SPC, paredes 3D, tecnología termoacústica,
                        solución para todo tipo de pisos, tejas UPVC.</b>
                </p>
                <p><b>Eres bienvenido a espacios donde la creatividad y el diseño se unen para combinar con tu estilo
                        único.</b></p>
                <a href="#" class="btn btn-light top-margin-sm">Explorar ahora <ion-icon name="caret-forward-circle">
                    </ion-icon></a>
            </div>
        </div>

    </section>

    <section id="portfolio" class="divider">
        <div class="container-fluid">
            <div class="content-center">
                <h2>Acabados arquitectónicos a partir de la innovación con base en el <b>PVC</b>, calidad, confort e
                    innovación.</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a style="text-decoration:none" href="#">
                                <h2><b>PVC Cielo Raso</b></h2>
                            </a>
                            <a style="text-decoration:none" href="#">
                                <p id="text1">Es un novedoso sistema de construcción liviana para cielo raso compuesto
                                    por láminas de PVC (policloruro de vinilo) rígido extruido de 25 cm de ancho, largo
                                    de 3 mts hasta 8 mts y espesor de 9 mm.
                                </p>
                            </a>
                        </div>
                        <img src="/Images/PVC-CEILING.png" class="img-fluid" alt="portfolio1">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a style="text-decoration:none" href="#">
                                <h2><b>PVC Guardaescobas</b></h2>
                            </a>
                            <a style="text-decoration:none" href="#">
                                <p><b>PVC Guardaescobas</b> es una excelente solución para terminado de todo tipo de
                                    pisos, este puede instalarse de modo fijo o desmontable. PVC Guardaescoba viene en
                                    tiras de 3 mts de largo y se instala por anclaje a 1 m cada uno..
                                </p>
                            </a>
                        </div>
                        <img src="/Images/guardaescobas.png" class="img-fluid" alt="portfolio1">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a style="text-decoration:none" href="#">
                                <h2><b>PVC Pisos</b></h2>
                            </a>
                            <a style="text-decoration:none" href="#">
                                <p id="text1"><b>PVC Pisos</b> es la solución ideal para acabados en pisos. Es perfecto
                                    para locales comerciales y soporta tráfico pesado ya que ha sido fabricado con un
                                    estándar de calidad alto. Es resistente al agua y químicos y cuenta con una fácil
                                    limpieza.
                                </p>
                            </a>
                        </div>
                        <img src="/Images/pvc-floor.jpg" class="img-fluid" alt="portfolio1">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a style="text-decoration:none" href="#">
                                <h2><b>Paredes 3D</b></h2>
                            </a>
                            <a style="text-decoration:none" href="#">
                                <p id="text1"><b>PVC Board</b> Revestimiento en PVC, para interiores, su uso es
                                    decorativo para paredes, con diferentes tipos de relieve en piezas de 50 x50 cm,
                                    brinda estética, diseño y de fácil instalación, relieve de 4cm máximo y dando una
                                    apariencia natural sin juntas y con la opción de darle el color de su preferencia.
                                </p>
                            </a>
                        </div>
                        <img src="/Images/pvc-3d-wall.png" class="img-fluid" alt="portfolio1">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TESTIMONIALS -->

    <section id="testimonials" class="divider">
        <div class="container">
            <div class="content-center">
                <h2>Algunas palabras de <b>nuestros clientes...</b></h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio beatae unde, saepe nostrum
                    voluptas veritatis autem ipsam sint perferendis culpa, quam molestiae id excepturi eius quas neque
                    est tempore? Natus!</p>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-container">
                            <p>ipsum dolor sit, amet consectetur adipisicing elit. Tenetur soluta deleniti possimus
                                eligendi, iste odit corrupti totam voluptas perferendis minus.
                            </p>
                            <div class="rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                </ul>
                            </div>
                            <div class="testimonial-user">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="/Images/user22.PNG" class="img-fluid" alt="testimonial_user_1">
                                    </div>
                                    <div class="col-md-9">
                                        <h6>Juan Valencia</h6>
                                        <span>PVC Projects Customer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-container">
                            <p>ipsum dolor sit, amet consectetur adipisicing elit. Tenetur soluta deleniti possimus
                                eligendi, iste odit corrupti totam voluptas perferendis minus.
                            </p>
                            <div class="rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                </ul>
                            </div>
                            <div class="testimonial-user">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="" class="img-fluid" alt="testimonial_user_2">
                                    </div>
                                    <div class="col-md-9">
                                        <h6>Diana Gil</h6>
                                        <span>PVC Projects Customer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-container">
                            <p>ipsum dolor sit, amet consectetur adipisicing elit. Tenetur soluta deleniti possimus
                                eligendi, iste odit corrupti totam voluptas perferendis minus.
                            </p>
                            <div class="rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                    <li class="list-inline-item">
                                        <ion-icon name="star"></ion-icon>
                                    </li>
                                </ul>
                            </div>
                            <div class="testimonial-user">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="" class="img-fluid" alt="testimonial_user_3">
                                    </div>
                                    <div class="col-md-9">
                                        <h6>Deisy Gil</h6>
                                        <span>PVC Projects Customer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <div class="control-button">
                        <ion-icon name="arrow-back-circle"></ion-icon>
                    </div>
                    <span class="sr-only">Back</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <div class="control-button">
                        <ion-icon name="arrow-forward-circle"></ion-icon>
                    </div>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>

    <!-- Contact -->

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6 top-margin-sm">
                    <h3>¡Contáctanos y cotiza tu proyecto <b>ahora mismo</b>!</h3>
                    <p>¿Tienes alguna otra inquietud? No dudes en escribirnos a: soluciones@pvcecologyprojects.org</p>
                </div>
                <div class="col-md-6 top-margin-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="col-md-6 top-margin-xs">
                            <form class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Ciudad">
                            </form>
                        </div>
                        <div class="col-md-6 top-margin-xs">
                            <form class="form-group">
                                <input type="number" class="form-control" id="" placeholder="Teléfono">
                            </form>
                        </div>
                        <div class="col-md-12 top-margin-xs">
                            <form class="form-group">
                                <input type="email" class="form-control" id="" placeholder="Correo electrónico">
                            </form>
                        </div>
                        <div class="col-md-12 top-margin-xs">
                            <form class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Asunto">
                            </form>
                        </div>
                        <!-- <div class="col-md-12 top-margin-xs">
                            <form class="form-group">
                                <input type="text" class="form-control" id="message" placeholder="Mensaje">
                            </form>
                        </div> -->
                        <div class="mb-3 top-margin-xs">
                            <textarea class="form-control" id="" rows="3" placeholder="Mensaje"></textarea>
                        </div>
                        <div class="col-md-12 top-margin-xs">
                            <a href="#" class="btn btn-dark full-width">Enviar Mensaje</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->

    <section id="footer" class="bg-dark">
        <div class="container">
            <img src="/Images/logotype2.png" class="logo-brand" alt="logo">
            <ul class="list-inline">
                <li class="list-inline-item footer-menu"><a style="text-decoration:none" href="#">Inicio</a></li>
                <li class="list-inline-item footer-menu"><a style="text-decoration:none" href="#">Catálogo</a></li>
                <li class="list-inline-item footer-menu"><a style="text-decoration:none" href="#">Portafolio</a></li>
                <li class="list-inline-item footer-menu"><a style="text-decoration:none" href="#">Nosotros</a></li>
                <li class="list-inline-item footer-menu"><a style="text-decoration:none" href="#">Contacto</a></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
                <li class="list-inline-item"><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                <li class="list-inline-item"><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li class="list-inline-item"><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
            </ul>
            <p><small>Copyright &copy; 2021 PVC Ecology Projects. All rights reserved.</small></p>
        </div>
    </section>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>